<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="SmartAttendance - AI Face Recognition Attendance System with Teacher, HOD, and Admin portals" />
  <title>SmartAttendance | AI Face Recognition Platform</title>
  <script type="module" crossorigin src="/assets/index-Bd95n7jE.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-Br0NYRrN.css">
</head>

<body>
  <div id="root"></div>
</body>

</html>